*{
    margin: 0px;
    border: border-box;
    font-family: 'Epilogue', sans-serif;
    border-style: none;
    box-sizing: border-box;
    height: auto;
}
.upper{
    display: flex;
    height: 6vh;
    width: 100vw;
    padding-top: 1rem;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
}
#about{
    text-decoration: none;
    list-style: none;
    color: #333333;
    padding-left: 6rem;

}
#us{
    text-decoration: none;
    color: #333333;
    padding-left: 4rem;
}
#my{
    text-decoration: none;
    list-style: none;
    color: #333333;
    font-weight: 600;
    margin-left: 50rem;
    border-style: none;
    margin-bottom: 1.2rem;
    width: 7rem;
}
#mys{
    width: 4rem;
}
#in{
    text-decoration: none;
    list-style: none;
    color: #333333;
    font-weight: 600;
    margin-left: 4rem;
    border-style: none;
    margin-bottom: 1.2rem;
}
#cre{
    text-decoration: none;
    list-style: none;
    color: #333333;
    font-weight: 600;
    margin-left: 3rem;
    border-style: none;
    margin-bottom: 0.7rem;
}
.navbar{
    height: 10vh;
    width: 100vw;
    background-color: #142165;
    display: flex;
}
#logo{
    padding-left: 6rem;
    margin-bottom: 2rem;
}
.home{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 30rem;
    cursor: pointer;
    margin-top: 1.2rem;
    margin-bottom: 0.6rem;
}
.PRODUCTS{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    margin-top: 1.2rem;
    margin-left: -20rem;
    margin-bottom: 0.6rem;
}
.search-bar{
    width: 25rem;
    margin-right: 10rem;
}
#search{
    height: 5vh;
    border-radius: 50px;
    padding-left: 1rem;
    width: 25em;
    margin-left: -10rem;
    height: 6vh;
    margin-bottom: 1.2rem;
}

.taskbar{
    width:5rem;
    height: 10vh;
    display: flex;
    margin-right:40rem ;
}
bor{
    border: 2px solid transparent;
}
.bor :hover{
    background-color: white;
    border: 2px;
}

@media(max-width:2980px){
    #in{
        margin-top: 0.6rem;
    }
    #cre{
        margin-top: 0.7rem;
    }
    #us{
        margin-top: 0.7rem;
    }
    #about{
        margin-top: 0.7rem;
    }
    .PRODUCTS{
        padding-top: 1.2REM;
    }
    .home{
        padding-top: 1.2rem;
    }
}
@media(max-width:1767px){
    .search-bar{
margin-right: -7rem;
    }
}
@media(max-width:1505px){
    .taskbar{
       width: 1rem; 
    }
}
@media(max-width:1473px){
    .upper{
        display: none;
    }
}
